/*Shared Styles*/
.body{
    font-family: 'Open Sans', sans-serif;
}
/*Header related styles*/

.header{
    display: flex;
    align-items: center;
    padding: 50px 240px 50px 240px;
    justify-content: center;
}
.banner{
    max-width: 500px;
}

.banner-title{
    color: #272727;
    font-size: 80px;
    margin-bottom: 30px;
}

.banner-pic{
    width: 635px;
    height: 800px;
}

/*Button related styles*/
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    width: 120px;
    height: 50px;
}
.btn-position{
    margin: 0px 135px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 240px;
    justify-content: center;
    text-align: center;
}


.feature-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
}

.feature_description_text {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
}

.image-row {
    display: flex; 
    justify-content: center;
    margin-top: 20px;
}

.feature_pic_1,.feature_pic_2,.feature_pic_3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    margin: 5px;
}



/*Hot Deals related styles*/
.hot_deals{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 425px 5px 308px;

}

.text_contents{
    max-width: 390px;
}
.section-title{
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
}
.description_text{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}
.highlight{
    color: #E55473;
}
.highlight-1{
    color: #fff;
}

/*social section related styles*/
.social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social_pics {
    margin: 0 10px; 
  }

  /*latest deals related styles*/
.latest_deals{
    margin-top: 75px;
}

  .form{
    display: flex;
    align-items:space-between ;
    justify-content: center;
  }

  .deals_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .deals_contents{
        position: absolute;
        top: 3110px;
        left: 725px;
    }

  .mail {
    margin-right: 350px;
    border-color: transparent;
  }

  .description_text {
    top: 50%;
    left: 50%;
  }

  /*footer related styles*/
  .footer{
    background: #111010;
    height: 449px;
    margin-top: 75px;

  }
  .footer-section-title{
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    padding-top: 135px
}
  .footer_description_text{
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}
.credits{
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
}
